# Implementing Regression Using k-NN On 50_Startups Dataset Using Sci-kit learn

## Step 1: Doing Imports

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error

## Step 2: Loading the dataset

In [2]:
data = pd.read_csv("50_Startups.csv")

## Step 3: Data Exploration

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4        NaN        91391.77        366168.42     Florida  166187.94

In [4]:
data.tail()

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [16]:
data.isna().sum()

R&D Spend          3
Administration     3
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [17]:
data.dropna(inplace=True)
data.isna().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [18]:
data.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
R&D Spend,44.0,73307.24,47180.51,0.00,36107.47,74661.72,105065.71,165349.20
Administration,44.0,121978.03,29068.51,51283.14,106795.76,122699.80,145947.26,182645.56
Marketing Spend,44.0,200654.50,124803.31,0.00,115395.74,201273.53,297501.96,471784.10
Profit,44.0,111541.91,41967.85,14681.40,81173.24,107978.19,142253.99,192261.83

In [19]:
data.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        44 non-null     float64
 1   Administration   44 non-null     float64
 2   Marketing Spend  44 non-null     float64
 3   State            44 non-null     object
 4   Profit           44 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [21]:
sns.pairplot(data)

## Step 4: Extracting Feature Array and Target Column

In [22]:
X = data.drop(columns=['State','Profit'])
y = data['Profit']

## Step 5: Splitting dataset into Training & Testing sets

In [23]:
X_tr,X_te,y_tr,y_te = train_test_split(X,y,test_size=0.25,random_state=42)

## Step 6: Building Model

In [24]:
knn_regressor = KNeighborsRegressor(n_neighbors=5)

knn_regressor.fit(X_tr,y_tr)
knn_regressor

KNeighborsRegressor()

## Step76: Making Predictions

In [25]:
y_pred = knn_regressor.predict(X_te)
y_pred[:5]

array([ 56959.076, 113336.308, 103822.214,  91198.006,  88783.5  ])